<ng-container *ngIf="(Name$ | async)!; else elseTemplate">
    <button mat-button class="user-status" [matMenuTriggerFor]="menu">
        <img class="user-avatar" src="{{ Picture$ | async }}" />
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item class="menu-item">{{ Name$ | async }}</button>
        <button mat-menu-item class="menu-item" (click)="logout()">Logout</button>
    </mat-menu>
</ng-container>
<ng-template #elseTemplate>


    <button class="facebook-login" mat-raised-button (click)="tryExternalLogin()">Facebook &nbsp;<fa-icon
        [icon]="facebookIcon" size="lg"></fa-icon></button>
</ng-template>
