@import '../styles/layout';
@import '../styles/color';

.nav {
    background-color: $facebook-color;
    color: white;
    position: fixed;
    z-index: 4;
    @media screen and (max-width: $media-max-break){
        min-height: 70px;
    }
}

a {
    font-size: 17px;
}

.spacer {
    @include space-start-to-end;
}