<mat-card class="matcard-container">
    <mat-card-header>
        <div mat-card-avatar>
            <img class="matcard-avatar" [src]="review.Author.Picture">
        </div>

        <mat-card-title style="font-size: 18px;">{{ review.Location.Name}}</mat-card-title>
        <mat-card-subtitle style="font-size: 12px;">{{ review.Location.Address }}</mat-card-subtitle>
        <div class="spacer"></div>
        <button mat-icon-button [style.color]="moveCount == review.Photos.length ? '#29487d' : ''"
            (click)="moveCountChange(review.Photos.length)">
            <mat-icon>place</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="userValidate">
            <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="delete()">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
        </mat-menu>
    </mat-card-header>

    <div mat-card-image class="matcard-image-container">
        <div class="scrolling-wrapper">
            <div *ngIf="!imageReady" class="viewer spinner">
                <mat-spinner style="margin: auto;"></mat-spinner>
            </div>
            <div #imageTag class="viewer" [hidden]="!imageReady" [style.transform]="moveTo"
                *ngFor="let image of images">
                <img [src]="image" (load)="onImageReady()" />
            </div>
            <div #imageTag class="viewer" [style.transform]="moveTo">
                <agm-map #map class="google-map" [zoom]="13" [latitude]="review.Location.Lat"
                    [longitude]="review.Location.Lng" [gestureHandling]="'none'" [zoomControlOptions]="zoomOption"
                    [streetViewControl]="false" (mapReady)="mapReady(infoWindow, $event)">
                    <agm-marker [latitude]="review.Location.Lat" [longitude]="review.Location.Lng" [label]="'A'"
                        (markerClick)="clickEvent(infoWindow, $event)">
                        <agm-info-window #infoWindow [disableAutoPan]="false">
                            <p>{{review.Location.Name}}</p>
                        </agm-info-window>
                    </agm-marker>
                </agm-map>
            </div>
        </div>
        <button *ngIf="moveCount != 0" class="move-button left" mat-button (click)="imageToLeft()">
            <fa-icon [icon]="faChevronCircleLeft" size="2x"></fa-icon>
        </button>
        <button *ngIf="moveCount < images.length" class="move-button right" mat-button (click)="imageToRight()">
            <fa-icon [icon]="faChevronCircleRight" size="2x"></fa-icon>
        </button>
    </div>

    <div style="display: grid; grid-template: 40px / 1fr 200px 1fr;">
        <div style="color: gray;">
            <button mat-icon-button>
                <mat-icon>thumb_up_alt</mat-icon>
            </button>
            <span>5</span>
        </div>
        <div class="navigation" style="text-align: center">
            <button mat-icon-button *ngFor="let p of review.Photos; let i = index"
                [style.background-color]="moveCount == i ? '#29487d' : '#bdbdbd'" (click)="moveCountChange(i)"></button>
        </div>
        <div style="color: gray; text-align: end;">

        </div>
    </div>

    <mat-card-content>
        <div>
            <p>
                <span style="font-weight: bold; color:gray">{{review.Author.Name}}</span>
                <star-rating value="{{review.PlaceRate}}" checkedcolor="gold" uncheckedcolor="#bdbdbd" size="18px"
                    readonly="true"></star-rating>
                <span>{{review.ReviewContent}}</span>
            </p>
        </div>
        <div>
            <span style="color: gray; font-size: 12px;">{{ localeDate }}</span>
        </div>
    </mat-card-content>
    <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>