<mat-card *ngIf="locationDetail; else elseTemplate" class="matcard-container">
    <mat-card-header>
        <div mat-card-avatar>
            <img class="matcard-avatar" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        </div>

        <mat-card-title>{{locationDetail.name | uppercase}}</mat-card-title>
        <mat-card-subtitle>{{ review.LocationName }}</mat-card-subtitle>
    </mat-card-header>

    <div mat-card-image class="matcard-image-container">
        <div class="scrolling-wrapper" [style.height]="heightTo">
            <div *ngIf="!imageReady" class="viewer spinner">
                <mat-spinner style="margin: auto;"></mat-spinner>
            </div>
            <div #imageTag class="viewer" [hidden]="!imageReady" [style.transform]="moveTo"
                *ngFor="let image of images">
                <img #img [src]="image" (load)="onImageReady()" />
            </div>
            <div #imageTag class="viewer" [style.transform]="moveTo">
                <agm-map #map class="google-map" [zoom]="13" [latitude]="locationDetail.geometry.location.lat"
                    [longitude]="locationDetail.geometry.location.lng" [gestureHandling]="'none'"
                    [zoomControlOptions]="zoomOption" [streetViewControl]="false"
                    (mapReady)="mapReady(infoWindow, $event)">
                    <agm-marker [latitude]="locationDetail.geometry.location.lat"
                        [longitude]="locationDetail.geometry.location.lng" [label]="'A'"
                        (markerClick)="clickEvent(infoWindow, $event)">
                        <agm-info-window #infoWindow [disableAutoPan]="false">
                            <p>{{locationDetail.name}}</p>
                        </agm-info-window>
                    </agm-marker>
                </agm-map>
            </div>
        </div>
        <button *ngIf="moveCount != 0" class="move-button left" mat-button (click)="imageToLeft()">
            <fa-icon [icon]="faChevronCircleLeft" size="2x"></fa-icon>
        </button>
        <button *ngIf="moveCount < images.length" class="move-button right" mat-button (click)="imageToRight()">
            <fa-icon [icon]="faChevronCircleRight" size="2x"></fa-icon>
        </button>
        <div style="display: flex; justify-content: center; margin: 0; padding: 0;">
            <mat-icon *ngFor="let c of count;let i = index" [style.color]="moveCount == i ? '#29487d' : '#bdbdbd'"
                style="margin: 0; padding: 0; font-size: 15px;" (click)="moveCountChange(i)">{{i == count.length - 1 ? 'place' : 'minimize'}}</mat-icon>
        </div>
    </div>

    <mat-card-content>
        <div style="font-size: 12px; color: #bdbdbd;">
            <div style="display: flex; justify-content: flex-end;">
                <p style="margin: 11px; padding: 0;">Author Rating: </p>
                <star-rating style="margin: 0; padding: 0;" value="{{review.Rate}}" checkedcolor="gold"
                    uncheckedcolor="#bdbdbd" size="23px" readonly="true"></star-rating>
                <p style="margin: 11px; padding: 0;">{{review.Rate}} / 5</p>
            </div>
            <div style="display: flex; justify-content: flex-end;">
                <p style="margin: 0px; padding: 0;">Written: {{ writtenDate}}</p>
            </div>
        </div>
        <p>
            {{review.Review}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
<ng-template #elseTemplate>
    <div style="padding: 300px 0 300px 0;">
        <mat-spinner style="margin: auto;"></mat-spinner>
    </div>
</ng-template>
