<mat-sidenav-container class="container">
    <mat-sidenav class="side-nav" #sidenav [mode]="(isHandset$ | async) ? 'over' : 'side'">
        <mat-toolbar (click)="sidenav.toggle()" [routerLink]="[{outlets: {blogOutlet: ['']}}]">List</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item [routerLink]="[{outlets: {blogOutlet: ['view', 1]}}]">view 1</a>
            <a mat-list-item [routerLink]="[{outlets: {blogOutlet: ['view', 2]}}]">Link 2</a>
            <a mat-list-item [routerLink]="[{outlets: {blogOutlet: ['view', 3]}}]">Link 3</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar><button mat-button (click)="sidenav.toggle()">
                <fa-icon class="icon" [icon]="faBars"></fa-icon>
            </button></mat-toolbar>
        <div class="contents">
            <router-outlet name="blogOutlet"></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>