@import "../styles/layout";

.matcard-container {
  margin-bottom: 60px;
  border: 1px solid #eeeeee;

  @media screen and (max-width: $media-max-break) {
    border: none;
    box-shadow: none;
  }

  .matcard-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .matcard-image-container {
    margin-bottom: 40px;
    position: relative;
    height: 400px;
    @media screen and (max-width: $media-max-break) {
      height: 300px;
    }
    .move-button {
      position: absolute;
      height: 100%;
      top: 0;
      color: #acacacbb;
      opacity: 0.8;
    }
  }
}

.scrolling-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  transition: 400ms ease-in;

  .viewer {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    transition: 400ms ease-in;
    img {
      width: 100%;
      object-fit: cover;
      height: 400px;
      @media screen and (max-width: $media-max-break) {
        height: 300px;
      }
    }
  }
}

.google-map {
  height: 400px;
  @media screen and (max-width: $media-max-break) {
    height: 300px;
  }
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.spinner {
  padding: 100px 0 150px 0;
}


@import '../styles/layout';

.spacer {
    @include space-start-to-end;
}