/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import "~bootstrap/dist/css/bootstrap.css";

body {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif !important;
  margin: 0;
  height: 100%;
  -webkit-text-size-adjust: none;

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    select:focus,
    textarea:focus,
    input:focus {
      font-size: 16px;
    }
  }
}

.mat-expansion-panel-body {
  padding: 0px !important;
}