<div *ngIf="reviewData; else elseTemplate">
    <app-blog *ngFor="let review of reviewData" [review]="review"></app-blog>
    <div *ngIf="!dataIsEnd">
        <div class="data-loading">
            <fa-icon class="loading-icon" [icon]="faMapMarkedAlt"></fa-icon>
        </div>
    </div>

</div>
<ng-template #elseTemplate>
    <div class="pre-loading">
        <fa-icon class="loading-icon" [icon]="faMapMarkedAlt"></fa-icon>
    </div>
</ng-template>
<div>
    <p style="text-align: center; color: gray; padding-bottom: 50px;">MaPlace</p>
</div>